* {
    box-sizing: border-box;
    font-family: sans-serif;
    background: white;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.calculator{
    background: rgb(12, 12, 12);
    border-radius: 20px
}


