* {
    box-sizing: border-box;
    font-family: sans-serif;
    background: white;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.calculator{
    background: rgb(22, 21, 21);
    border-radius: 20px;
    box-shadow: 0 8px 25px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    max-width: 320px;
}

.display {
    background: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 1rem;
    font: bold;
    font-size: 2rem;
    font-family: monospace;
    text-align: right;
    color: white;
    box-shadow: black;
    transition: all 0.2s;
}

.button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.7rem;
}

button {
    background: orangered;
}


